@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


:root
{
    --primary-color:#34D399;
    --dark-grey:#4B5563;
}
body{
font-family: 'Cabin', sans-serif;
}
/* css on container segment  */
.container
{
    padding-left:1rem;
    padding-right:1rem;
}
.container-fluid
{

}
.container-center
{
    margin:auto;
    max-width:600px;
}

/* css on link segment  */

.primary-link
{
    background-color:var(--primary-color);
    /* background-color: ; */
    border-radius: 0.5rem;
    color:#fff;
}
.link{
    text-decoration: none;
    padding:0.5rem 1rem;

}
.secondary-link
{
    color:var(--primary-color);
    border-radius:0.5rem;
    border:1px solid var(--primary-color);


}

hr{
    margin:2rem 0rem;
}
.list-non-bullet
{
    list-style:none;
}

/* BEM naming convention in css */

.list-unordered-inline
{
    display:inline;
    padding:0rem 0.5rem;
}

.navigation{
    background-color:var(--primary-color);
    padding:1rem;
    color:#fff;
    border-bottom-left-radius: 1rem;
}
.navigation .link{
    color:#fff;
    /* text-align:right; */
}
.navigation .nav-pills
{
    text-align:right;
}
.navigation .nav-brand
{
    font-weight:bold;
    font-size:1.1rem;
}

.link-active
{
    font-weight:bold;
}


/* header pe aa gaye hai  */

.hero{
    padding:2rem;
}
.hero .hero-img
{
    max-width:350px;
    display:block;
    /* text-align:center; */
    margin:auto;
}

.hero .hero-heading
{
    color:var(--dark-grey);
    padding-top: 1rem;
    text-align:center;

}
.hero .hero-heading .heading-imp
{
    color:var(--primary-color);
}