@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


body{
font-family: 'Cabin', sans-serif;
}
.container
{
    padding-left:1rem;
    padding-right:1rem;
}
.container-fluid
{

}
.container-center
{
    margin:auto;
    max-width:600px;
}