@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


:root
{
    --primary-color:#34D399;
}
body{
font-family: 'Cabin', sans-serif;
}
/* css on container segment  */
.container
{
    padding-left:1rem;
    padding-right:1rem;
}
.container-fluid
{

}
.container-center
{
    margin:auto;
    max-width:600px;
}

/* css on link segment  */

.primary-link
{
    background-color:var(--primary-color);
    /* background-color: ; */
    border-radius: 0.5rem;
    color:#fff;
}
.link{
    text-decoration: none;
    padding:0.5rem 1rem;

}
.secondary-link
{
    color:var(--primary-color);
    border-radius:0.5rem;
    border:1px solid var(--primary-color);


}

hr{
    margin:2rem 0rem;
}
.list-non-bullet
{
    list-style:none;
}

/* BEM naming convention in css */

.list-unordered-inline
{
    display:inline;
    padding:0rem 0.5rem;
}